body {
  margin: 0;
  font-family: sans-serif;
  background-color: #000; /* visas fonas juodas */
}

.hangman-game {
  min-height: 100vh;
  background-color: #000; /* visas fonas juodas */
}

.hangman-frame {
  position: relative;
  width: 200px;
  height: 250px;
  margin: 0 auto 20px;
  border: 4px solid #ffc107; /* Bootstrap warning rėmelis */
  border-radius: 8px;
  background-color: #000;
}

/* Stovas */
.gallows {
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 100px;
  height: 10px;
  background-color: #ffc107; /* geltona */
}

.gallows::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 30px;
  width: 10px;
  height: 180px;
  background-color: #ffc107;
}

.gallows::after {
  content: "";
  position: absolute;
  top: 0;
  left: 30px;
  width: 60px;
  height: 10px;
  background-color: #ffc107;
}

/* Žmogeliuko dalys */
.head, .body, .left-arm, .right-arm, .left-leg, .right-leg {
  position: absolute;
  display: none;
}

.head.show {
  display: block;
  top: 30px;
  left: 80px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.body.show {
  display: block;
  top: 60px;
  left: 92px;
  width: 4px;
  height: 60px;
}

.left-arm.show, .right-arm.show {
  display: block;
  top: 70px;
  width: 4px;
  height: 40px;
  transform-origin: top center;
}

.left-arm.show {
  left: 92px;
  transform: rotate(-45deg);
}

.right-arm.show {
  left: 92px;
  transform: rotate(45deg);
}

.left-leg.show, .right-leg.show {
  display: block;
  top: 120px;
  width: 4px;
  height: 50px;
  transform-origin: top center;
}

.left-leg.show {
  left: 92px;
  transform: rotate(-30deg);
}

.right-leg.show {
  left: 92px;
  transform: rotate(30deg);
}

/* Raidės */
.letter {
  font-weight: bold;
}

/* Mygtukai */
.btn-letter {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
  margin: 2px;
}

.btn-letter:disabled {
  opacity: 0.5;
}
